
<h1>Votre profil</h1>

<p>Firstname : <%= @profile.firstname %></p>
<p>Lastname : <%= @profile.lastname %></p>
<p>Email <%= @profile.email %></p>
<p><%= @profile.photo %></p>


<%= link_to "Modifier mon profil", edit_user_registration_path %>
