
<div class="container">
  <div class="row">
  <div col-xs-8>


    <ul class="list-group" style="color:black">
      <li class="list-group-item">
        <h2>
          Modifier meeting <i class="fas fa-edit"></i>
        </h2>
      </li>
      <li class="list-group-item">
        <i class="fas fa-graduation-cap"></i>
        Brain : <%= @meeting.teacher.user.firstname %>  <%= @meeting.teacher.user.lastname %>
        </li>
      <li class="list-group-item">
        <i class="fas fa-user"></i>
        Demandeur : <%= @meeting.user.firstname %>  <%= @meeting.user.lastname %></li>
      <li class="list-group-item">
        <i class="fas fa-plus-circle"></i>
      Coût du meeting : <%= @meeting.teacher.hourly_price_cents * @meeting.duration %> €
      </li>
      <li class="list-group-item">
        <%= simple_form_for @meeting do |f| %>
          <%= f.input :date %>
          <%= f.input :duration, label: '<i class="fas fa-clock"></i>'.html_safe + " Durée" %>
          <%= f.input :city , label: '<i class="fas fa-building"></i>'.html_safe + " Ville" %>
          <%= f.input :zipcode , label: '<i class="fas fa-envelope-square"></i>'.html_safe + " CP" %>
          <%= f.input :address , label: '<i class="fas fa-envelope-square"></i>'.html_safe + " Adresse" %>
          <%= f.input :description , label: '<i class="fas fa-info"></i>'.html_safe + " Description" %>
          <%= f.input :status, collection: Meeting::STATUS, label: '<i class="fas fa-tag"></i>'.html_safe + " Status" %>
          <%= f.submit "Modifier meeting", class: "btn btn-primary" %>
        <% end %>
      </li>
      <li class="list-group-item">
          <!-- If the current user is the teacher it displays a different link message -->
        <% message = @current_user == @meeting.teacher.user ? "Revenir à mon profil" : "Revenir au profil du brain" %>
        <%= link_to '<i class="fas fa-undo"></i> '.html_safe + message, teacher_path(@meeting.teacher) %>
      </li>

  </ul>


</div>
</div>
</div>

