<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="form-login">
        <ul class="list-group" style="color:black">
          <li class="list-group-item">
            <h2 class="text-center">
              <i class="fas fa-calendar-alt"></i>
              Meeting
            </h2>
          </li>
          <li class="list-group-item">
            <i class="fas fa-tag"></i>
            Status :  <%= @meeting.status %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-clock"></i>
            Date : <%= @meeting.date.strftime('%d/%m/%Y à %H:%M') %>
          </li>

          <li class="list-group-item">
            <i class="fas fa-stopwatch"></i>
            Durée : <%= @meeting.duration %>h
          </li>

          <li class="list-group-item">
            <i class="fas fa-building"></i>
            Ville (CP) :  <%= @meeting.city %> (<%= @meeting.zipcode %>)
          </li>

          <li class="list-group-item">
            <i class="fas fa-envelope-square"></i>
            Adresse : <%= @meeting.address %>
          </li>

          <li class="list-group-item">
            <i class="fas fa-info"></i>
            Description :  <%= @meeting.description %>
          </li>

          <li class="list-group-item">
            <i class="fas fa-graduation-cap"></i>
            Brain : <%= @meeting.teacher.user.firstname %>  <%= @meeting.teacher.user.lastname %>
          </li>

          <li class="list-group-item">
            <i class="fas fa-user"></i>
            Demandeur : <%= @meeting.user.firstname %>  <%= @meeting.user.lastname %>
          </li>

          <li class="list-group-item">
            <i class="fas fa-plus-circle"></i>
            Taux horaire : <%= @meeting.teacher.hourly_price_cents %> €
          </li>

          <li class="list-group-item">
            <i class="fas fa-balance-scale"></i>
            Coût du meeting : <%= @meeting.teacher.hourly_price_cents * @meeting.duration %> €
          </li>

          <li class="list-group-item">
            <!-- If the current user is the teacher it displays a different link message -->
            <% message = @current_user == @meeting.teacher.user ? "Revenir à mon profil" : "Revenir au profil du brain" %>
            <%= link_to '<i class="fas fa-undo"></i> '.html_safe + message, teacher_path(@meeting.teacher) %>
          </li>

          <% if !@meeting.date.to_date.past? %>
          <li class="list-group-item">
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe + " Modifier", edit_meeting_path(@meeting), class: "btn btn-primary" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="form-login">
        <div id="map" style="height: 600px;" data-markers="<%= @markers.to_json %>"></div>
      </div>
    </div>
  </div>
</div>
