
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="alumnus-wrapper">
      <div class="bio">
        <div class="bio-header" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(&quot;http://res.cloudinary.com/wagon/image/upload/v1514889348/busfhitgdu0szzobbgc0.jpg&quot;); background-size: cover; background-position: center center;">
          <div class="alumnus-avatar">
            <%= image_tag @profile.photo, class: "rounded-circle bottom-marged"  %>
            <!-- <img alt="Adrien Vidal" class="rounded-circle bottom-marged" src="https://avatars3.githubusercontent.com/u/35230162?v=4"> -->
          </div>
          <div class="alumnus-identity">
            <h1><%= @profile.firstname  %></h1>
            <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe + " Modifier mon profil", edit_user_registration_path %>
          </div>
        </div>
        <div class="bio-body">
          <div class="bio-ctas">
          </div>
          <div class="bio-desc">
            <div class="bio-desc-header ">
              <h3>Votre prénom</h3>
            </div>
              <p class="profils">
                <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe, edit_user_registration_path %>
                <i class="fas fa-user"></i> <%= @profile.firstname.capitalize %> <%= @profile.lastname.upcase %>
              </p>
              <div class="bio-desc-header ">
                <h3>Votre mail</h3>
              </div>
              <p class="profils">
              <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe, edit_user_registration_path %>
                <i class="fas fa-envelope-open"></i> <%= @profile.email %>
              </p>
          </div>
