<div>
<h1>Brains</h1>	
</div>

<div class="container"> 
<% @teachers.each do |teacher| %>
	<div class=“row” id="teacher-card">
		<div class=“col-xs-12 col-sm-8 offset-sm-2">
	    <!-- <img src=“” class=“img-fluid rounded-circle z-depth-2 avatar”> --> 
	    <%= image_tag teacher.user.photo, class: "avatar-large" %>
	  </div>
	               <!-- Name -->
		<h3 class=“h3-responsive text-center font-weight-bold dark-grey-text”><%= teacher.user.firstname %> <%= teacher.user.lastname %></h3>
		<h5 class=“font-weight-bold dark-grey-text mb-3">
	    <strong><%= teacher.profession %></strong>
	  </h5>
		<hr>
		<div class=“row”>
	    <!-- Author Data -->
	    <div class=“col-xs-12 col-sm-8 offset-sm-2”>
	      <p><%= teacher.description %></p>
	      <p><%= teacher.hourly_price_cents %>€/h</p>
	    </div>
	    <div id="btn">
	    	<%= link_to "Rencontrez #{teacher.user.firstname}", teacher_path(teacher), class: "btn btn-outline-secondary text-center" %>
	    </div>
	  </div>
	</div>
<% end %>



