<h1>Brains </h1>

 Prénom |Nom | Email | Profession | Description | Prix horaire
<% @teachers.each do |teacher| %>

<li>
  <%= link_to teacher.user.firstname, teacher_path(teacher) %>
  |<%= teacher.user.lastname %>
  |<%= teacher.user.email %>
  |<%= teacher.profession %>
  |<%= teacher.description %>
  |<%= teacher.hourly_price_cents %>
</li>

<% end %>
