<div class="row">
  <div class="col-xs-7">

    <ul class="list-group" style="color:black">
    <li class="list-group-item">
      <h2  class="text-center">
        <i class="fas fa-id-card"></i><%= @current_user == @teacher.user ? "Mon profil" : "Profil du Brain" %>
      </h2>
    </li>
    <li class="list-group-item">
      <i class="fas fa-graduation-cap"></i>
      <%=@teacher.user.firstname.capitalize %> <%= @teacher.user.lastname.upcase %>
    </li>
    <li class="list-group-item">
      <i class="fas fa-envelope-open">
      </i> <%= @teacher.user.email %>
    </li>

    <% if @current_user == @teacher.user %>
    <li class="list-group-item">
      <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe + " Modifier mes informations de base", edit_user_registration_path %>
    </li>
    <% end %>


    <li class="list-group-item">
      Profession : <%= @teacher.profession %>
    </li>

    <li class="list-group-item">
      Description : <%= @teacher.description %>
    </li>

    <li class="list-group-item">
      Taux horaire : <%= @teacher.hourly_price_cents %> €
    </li>

    <li class="list-group-item">
      Categorie : <%= @teacher.category.name %>
    </li>

    <% if @current_user == @teacher.user %>
      <li class="list-group-item">
    <%= link_to "Modifier mes informations formateur", edit_teacher_path(@teacher) %>
      </li>
    <% end %>

    <% if @current_user != @teacher.user %>
      <li class="list-group-item">
        <%= link_to "Autres formateurs de la categorie #{@teacher.category.name}", category_teachers_path(@teacher.category), class: "text-center" %>
      </li>
    <% end %>

  </ul>

    <br>
    <div class="text-center">
      <h2> Meetings </h2>
      <!-- indice pour parcourir le tabeau bootstrap-->
      <% i = 0 %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Durée</th>
            <th scope="col">Ville (CP)</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody>

          <% @teacher.meetings.each do |meeting| %>

          <tr>
            <th scope="row"><%= i = i + 1 %></th>
            <td> <%= link_to meeting.status, meeting_path(meeting) %></td>
            <td><%= meeting.date.strftime('%d/%m/%Y à %H:%M') %></td>
            <td>@<%= meeting.duration %>h</td>
            <td><%= meeting.city %> (<%= meeting.zipcode %>)</td>
            <td><%= meeting.description[0,20] %>...</td>
          </tr>

              <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-xs-4 offset-xs-8">
    <% if @teacher.user.photo.present? %>
      <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
    <% end %>

    <ul class="list-group" style="color:black">
    <li class="list-group-item">

        <!-- This link is not displayed if the current user is the theacher -->
      <% if @current_user != @teacher.user %>

          <h2> Réservez le brain </h2>
          <%= simple_form_for [@teacher, @meeting] do |f| %>
            <%= f.input :date %>
            <%= f.input :duration, label: "Durée" %>
            <%= f.input :city , label: "Ville" %>
            <%= f.input :zipcode , label: "CP" %>
            <%= f.input :address , label: "Adresse" %>
            <%= f.input :description %>
            <%= f.submit "Réservez !", class: "btn btn-primary" %>
          <% end %>

      <% end %>
      <!-- end of display of message specific to a user who is not a teacher -->
    </li>

  </ul>
  </div>
</div>



